<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>94244650112-ep2kbgojgr5g2mfv0rj9kto3rgt0pall.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94244650112-ep2kbgojgr5g2mfv0rj9kto3rgt0pall</string>
	<key>API_KEY</key>
	<string>AIzaSyDx33e5zCflvORuJZYj6p9XIiEWPQcdjfc</string>
	<key>GCM_SENDER_ID</key>
	<string>94244650112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MichaelBart.TastyTraveler</string>
	<key>PROJECT_ID</key>
	<string>tasty-traveler-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>tasty-traveler-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94244650112:ios:f907d9219edb5b4c</string>
	<key>DATABASE_URL</key>
	<string>https://tasty-traveler-dev.firebaseio.com</string>
</dict>
</plist>